#one{
    border-radius:15px;
    background-color:rgba(128,128,128,0.7);
    width:400px;
}
#four{
    border-radius:15px;
    background-color:rgba(128,128,128,0.7);
    padding:8px;
    height:490px;

}
#five{
    border-radius:15px;
    background-color:rgba(128,128,128,0.7);
    padding:10px;
}
#six i {
    color:#fff;
    font-size:21px;
}

#seven:hover{
    background-color:#f8cafa;
    border-radius:10px;
}
#eight{
    height:362px;
    margin-top:10px;
}
#nine{
    border-radius:15px;
    background-color:rgba(128,128,128,0.7);
    padding:10px;
    width:552px;
    height:580px;
}    
#ten{
    width:500px;
}
#eleven i{
    color:green;
    font-size:21px;
}
#eleven{
    position:relative;
    right:25px;
    width:50px;
    border-radius:28px;
    border-color:white;
}
